
 
 @mixin styleFooter {
    footer {
      background-color: #2c1f62;
      ul {   
        color: rgb(248, 247, 247);
        margin: 0;
        padding: 1rem 0rem 1rem 2rem;
    }}
}

@mixin styleNavbar {
  nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .goToHomepage {
      display: flex;
      grid-area: 1 / 2 / 2 / 3;
      cursor: pointer;
      justify-content: center;
        img {
          
          width: 11rem;
          height: 4rem;
        }
    }
    .cartSvg {
      padding-right: 2rem;
      grid-area: 1 / 3 / 2 / 4; 
      justify-self: flex-end;
      padding-top: 0.5rem;
      span.itemsInCart {
        background-color: #f1cbcb;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
       border-radius: 30px;
      }
    }
  }
}