@import "mixins.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  outline-color: black;
}
a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
padding-bottom: 2rem;
    border-bottom: solid 1px black;
    .goToMenu {
     cursor: pointer;
     align-self: start;
     margin: 1rem 0rem 0rem 3rem;
   
    }
    .goToHome {
     
      transform: translateY(-4.2rem);
      img {
        width: 20rem;
        height: 9vh;
        cursor: pointer;
      }
 
    }
  
  }

  main {
    padding-top: 3rem;
    section.options {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      border-bottom: solid 1px black;
      font-size: 2rem;
      padding-bottom: 2rem;
      padding-left: 2rem;
     svg{  
        cursor: pointer;  
       margin-left: 3rem;
      }
    }
    section.selectedProduct {
      display: flex;
      flex-direction: column;
      padding: 3rem 0rem 1rem 0rem;
      ul {
     
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-template-rows: 1fr;
          grid-column-gap: 0px;
          grid-row-gap: 0px;
          padding-bottom: 2rem;
          
        li {
          display: flex;
          align-items: center;
          font-size: 1.4rem;
          padding-left: 1.5rem;
          
          img {
            width: 12rem;
            height: 9rem;
            border: solid 1px black;
                 }
          .btnMinus {
            border: none;
            background-color: #f1cbcb;
            color: #dcb1b1;
            outline: none;
            padding: 0.5rem 0.8rem 0.5rem 0.8rem;
            border-radius: 50px;
            cursor: pointer;
            margin-left: 0.5rem;
            &:hover {
              transform: scale(1.05);
            }
          }
          .btnPlus {
            border: none;
            color: #7e5454;
            background-color: #f2cccc;
            outline: none;
            padding: 0.5rem 0.8rem 0.5rem 0.8rem;
            border-radius: 50px;
            cursor: pointer;
            margin-left: 0.5rem;
            &:hover {
              transform: scale(1.05);
            }
          }
          .clearCart {
            border: solid 2px;
        cursor: pointer;
        padding: 1rem;
        width: 30%;
        background-color: white;
        &:hover {
          transform: scale(1.05);
        }
          }
        }
      }
    }
    section.total {
      padding-top: 2rem;
      border-top: 1px solid;
      display: flex;
      justify-content: center;
      p {
        font-size: 1.5rem;
      }
    }

    h2 {
      text-align: center;
      padding: 2rem 0rem 1rem 0rem;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 3rem ;
      input {
        width: 40%;
        height: 1.6rem;
      }
      button {
        margin-top: 1rem;
        padding: 1rem 3rem 1rem 3rem;
        width: 10%;
        text-align: center;
        border-radius: 33px;
        cursor: pointer;
      }
    }
  }
 @include styleFooter;
}
