* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  outline-color: black;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

body nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

body nav .goToHomepage {
  width: 2rem;
  cursor: pointer;
}

body nav .cartSvg {
  padding-right: 2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: translateY(-3.5rem);
          transform: translateY(-3.5rem);
}

body nav .cartSvg span {
  background-color: #f1cbcb;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 30px;
}

body main {
  padding-top: 3rem;
}

body main section.options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: solid 1px black;
  font-size: 1.6rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

body main section.options svg {
  cursor: pointer;
  margin-left: 3rem;
}

body main section.options svg:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

body main section.selectedProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 0rem 1rem 0rem;
}

body main section.selectedProduct ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-bottom: 2rem;
}

body main section.selectedProduct ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  padding-left: 1.5rem;
}

body main section.selectedProduct ul li img {
  width: 12rem;
  height: 9rem;
  border: solid 1px black;
}

body main section.selectedProduct ul li .btnMinus {
  border: none;
  background-color: #f1cbcb;
  color: #dcb1b1;
  outline: none;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 0.5rem;
}

body main section.selectedProduct ul li .btnMinus:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

body main section.selectedProduct ul li .btnPlus {
  border: none;
  color: #7e5454;
  background-color: #f2cccc;
  outline: none;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 0.3rem;
}

body main section.selectedProduct ul li .btnPlus:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

body main section.selectedProduct ul li .clearCart {
  border: solid 2px;
  cursor: pointer;
  padding: 1rem;
  background-color: white;
}

body main section.selectedProduct ul li .clearCart:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

body main section.total {
  padding-top: 2rem;
  border-top: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main section.total p {
  font-size: 1.5rem;
}

body main h2 {
  text-align: center;
  padding: 2rem 0rem 1rem 0rem;
}

body main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
}

body main form label {
  padding-top: 1rem;
}

body main form input {
  width: 40%;
  height: 2rem;
  padding-top: 0.8rem;
}

body main form button {
  margin-top: 1rem;
  padding: 1rem 3rem 1rem 3rem;
  background-color: #2c1f62;
  color: #f8f7f7;
  text-align: center;
  border-radius: 33px;
  cursor: pointer;
}

body main form button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

body footer {
  background-color: #2c1f62;
}

body footer ul {
  color: #f8f7f7;
  margin: 0;
  padding: 1rem 0rem 1rem 2rem;
}

@media screen and (max-width: 1100px) {
  body main form input {
    width: 60%;
    height: 2rem;
    padding-top: 0.8rem;
  }
}
/*# sourceMappingURL=panier.css.map */