* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  outline-color: black;
}
a {
  text-decoration: none;
}

body {
  width: 100vw;
  
  font-family: "Roboto", sans-serif;
  nav {
    display: flex;
    padding: 1rem 0rem 2rem 0rem;
    justify-content: space-between;
    align-items: center;
    background: rgb(217, 131, 47);
    background: linear-gradient(
      90deg,
      rgba(217, 131, 47, 1) 0%,
      rgba(141, 90, 250, 1) 100%
    );
    .fa-arrow-left {
      font-size: 2rem;
      padding-left: 3rem;
      cursor: pointer;
    }
    img.logo {
      width: 20rem;
      font-family: "Paytone One", sans-serif;
      cursor: pointer;
    }
    img.panier {
      width: 120px;
      cursor: pointer;
      padding-right: 4rem;
    }
  }

  main {
    h1 {
      color: red;
      text-align: center;
      padding: 2rem 0rem 1rem 0rem;
    }
    section.options {
      display: flex;
      justify-content: space-around;
      font-size: 2rem;
      border-bottom: 4px solid red;
      padding-bottom: 2rem;
        #clearCart {
          border: solid 2px;
          cursor: pointer;
        }
    }
    section.selectedProduct {
      display: flex;
      flex-direction: column;
   
      padding: 1rem 0rem 1rem 0rem;
        ul {
          display: flex;
          justify-content: space-around;
            li {
              font-size: 1.4rem;
              img {
                width: 12rem;
                height: 9rem;
              }
            }
        }
    }
    section.total {
      padding-top: 2rem;
      border-top: 4px solid green;
      display: flex;
      justify-content: center;
      p {
       font-size: 1.5rem;
      
      }
      
    }

    h2 {
      color: red;
      text-align: center;
      padding: 2rem 0rem 1rem 0rem;
    }
    form {
      display: flex;
      flex-direction: column;
      padding: 0rem 5rem 3rem 5rem;
      input {
        color: blue;
      }
      button {
        margin-top: 1rem;
        padding: 0.7rem;
        width: 30%;
        align-self: center;
        border-radius: 33px;
        cursor: pointer;
      }
    }
  }
  footer {
    justify-content: space-evenly;
    align-items: center;
    background-color: #333c63;
    padding: 2rem 0 3rem 3rem;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
  }
}
