@mixin responsiveProduit {
    @media screen and (max-width: 2500px) {
        body main div.product {
            width: 65%;
}
}
@media screen and (max-width: 1050px) {
    body main div.product {
        width: 80%;
}
}
@media screen and (max-width: 950px) {
    body main div.product {
        width: 85%;
}
}
@media screen and (max-width: 950px) {
    body main .product article p.product_description {
      
        width: 85%;
    }
}



}