@import "mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  outline-color: black;
}
a {
  text-decoration: none;
}

body {

  font-family: "Roboto", sans-serif;
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 10vh;
    img.logo {
      width: 20rem;
       height: 9vh;
      cursor: pointer;
    }
    a.cartSvg {
      padding-right: 2rem;
      align-self: flex-end;
    transform: translateY(-3.5rem);
      .itemsInCart {
        background-color: #f1cbcb;
       padding: 0.25rem 0.5rem 0.25rem 0.5rem;
      border-radius: 30px;
      }
    }
  
  }
  header {
    background-image: url("../img/header.jpg");
    height: 90vh;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    article {
      text-align: center;
      margin: auto;
      width: 60%;
      h2 {
        font-size: 2.5rem;
        padding-bottom: 1rem;
        color: whitesmoke;
      }
      p {
        font-size: 1.3rem;
        color: whitesmoke;
      }
    }
  }

  main {
   background-color: #F5ECEC;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0rem 4rem 0rem;
    div.product {
      width: 50%;
      margin: 2rem 0rem 2rem 0rem;
      border: solid 1px black;
      border-radius: 33px;
      cursor: pointer;
      &:hover {
        transform: scale(1.005);
      }
      img.ourspic {
        width: 100%;
        height: 35rem;
        border-top-right-radius: 33px;
        border-top-left-radius: 33px;
        border-bottom-right-radius: 33px;
        border-bottom-left-radius: 33px;
        margin-bottom: -2rem;
      }
      article {
        background-color: #F5ECEC;
        padding: 2rem 0rem 2rem 0rem;
        border-bottom-right-radius: 33px;
        border-bottom-left-radius: 33px;
        text-align: center;
        h2 {
          color: rgb(66, 47, 47);
          padding-bottom: 1rem;
        }
        p.product_description {
          font-size: 1.2em;
          text-align: center;
          padding: 0rem 8rem 0rem 8rem;
        }
        p.price {
          color: rgb(75, 53, 53);
          font-size: 1.2em;
          padding-bottom: 1rem;
          font-weight: bold;
        }
        .btnGoTo {
          color: rgb(133, 95, 95);
          padding: 0.5rem 1.5rem 0.5rem 1.5rem;
          border: solid 3px #F2CCCC;
          border-radius: 33px;
          outline: none;
          margin-top: 2rem;
        }
      }
    }
  }
  @include styleFooter;
}
