@import "mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  outline-color: black;
}
a {
  text-decoration: none;
}

body {

  min-height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  @include styleNavbar;
  main {
    text-align: center;
    h1 {
      padding-top: 3rem;
      font-size: 1.2rem;
      padding-bottom: 1rem;
  
    }
    p {
      padding-bottom: 2rem;
    }
    a {
      border: solid 2px;
      padding: 0.5rem;
    }
  }
 
}
@media only screen and (max-width: 330px) and (min-width: 0px) {
  nav {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    .cartSvg {
      padding-right: 0rem !important;
   
     
    }
  }
}
