@import "mixins.scss";
@import "responsive-index.scss";
@include progressive_appearence;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  outline-color: black;
}
a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  @include styleNavbar;
  header {
    background-image: url("../img/header.jpg");
    height: 95vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 3.5rem;
      color: whitesmoke;
      text-align: center;
      animation: progressive_appearence 0.5s ease-in-out;
    }
    a {
      animation: progressive_appearence 0.5s ease-in-out;
      font-size: 1.5rem;
      border: solid 3px #f3e8e8;
      color: #ffffff;
      background-color: rgb(226, 174, 174);
      position: absolute;
      top: 85vh;
      padding: 1.5rem;
      border-radius: 50px;
      transition: 0.2s ease-in-out;
      &:hover {
        border: solid 3px #e6e2e2;
        color: #e48888;
        background-color: rgb(252, 248, 248);
      }
    }
  }

  main {
    background-color: #f6f6ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem 2rem 0rem;

    div.product {
      width: 93%;
      margin: 2rem 0rem 2rem 0rem;
      border-radius: 33px;
      cursor: pointer;
      display: flex;
      height: 90%;
      img.ourspic {
        border-top-left-radius: 33px;
        width: 40rem;

        border-bottom-left-radius: 33px;
      }
      article {
        border-top: solid 1px rgb(215, 215, 215);
        border-bottom: solid 1px rgb(215, 215, 215);
        border-right: solid 1px rgb(215, 215, 215);
        padding: 2rem 0rem 2rem 0rem;
        border-top-right-radius: 33px;
        background-color: #f9f9f9;
        border-bottom-right-radius: 33px;

        h2 {
          color: rgb(66, 47, 47);
          padding: 0rem 0rem 1rem 2rem;
          font-size: 3rem;
        }
        p.product_description {
          font-size: 1.5em;
          padding: 0rem 8rem 2rem 2rem;
        }
        p.price {
          color: rgb(75, 53, 53);
          font-size: 1.2em;
          padding-left: 2rem;
          padding-bottom: 3rem;
          font-weight: bold;
        }
        a.btnGoTo {
          color: rgb(133, 95, 95);
          padding: 1.7rem 1.5rem 1.7rem 1.5rem;
          border: solid 3px #f2cccc;
          border-radius: 50px;
          outline: none;
          margin-left: 1.2rem;
          transition: all ease-in-out 0.2s;
          &:hover {
            padding: 2rem 1.8rem 2rem 1.8rem;
          }
        }
      }
    }
  }
  @include styleFooter;
}
@include responsiveIndex;
