 
 @mixin styleFooter {
  footer {
    background-color: #2c1f62;
    ul {   
      color: rgb(248, 247, 247);
      margin: 0;
      padding: 1rem 0rem 1rem 2rem;
  }}
}

@mixin styleNavbar {
nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  box-shadow: 1px 2px 17px -2px #f1cbcb;
  .goToHomepage {
    display: flex;
    grid-area: 1 / 2 / 2 / 3;
    cursor: pointer;
    justify-content: center;
      img {
        
        width: 9rem;
        height: 4rem;
      }
  }
  .cartSvg {
    padding-right: 2rem;
    grid-area: 1 / 3 / 2 / 4; 
    justify-self: flex-end;
    padding-top: 0.5rem;
    span.message {
      position: fixed;
      margin-top: 4.1rem;
      color: black;
    background-color: #F9F9F9;
      transform: translateX(-1.6em);
      border: solid 1px #f1cbcb;
      
    }
    span.itemsInCart {
      font-size: 0.6rem;
      background-color: #f1cbcb;
      padding: 0.25rem 0.5rem 0.25rem 0.5rem;
     border-radius: 30px;
    }
  }
}

}