@import "mixins.scss";
@import "responsive-product.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  outline-color: black;
}
a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  @include styleNavbar;
  main {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    .product {
      height: 80%;
      padding: 2rem 0rem 2rem 0rem;
      border-radius: 33px;
      cursor: pointer;
      display: flex;
      width: 92%;
      cursor: pointer;

      img {
        width: 35rem;
        border-top-left-radius: 33px;
        border-bottom-left-radius: 33px;
      }
      article {
        border-top: solid 1px rgb(215, 215, 215);
        border-bottom: solid 1px rgb(215, 215, 215);
        border-right: solid 1px rgb(215, 215, 215);
        padding: 2rem 0rem 2rem 0rem;
        border-top-right-radius: 33px;
        border-bottom-right-radius: 33px;
        h2 {
          color: rgb(66, 47, 47);
          padding: 0rem 0rem 1rem 2rem;
          font-size: 2rem;
        }
        p.product_description {
          font-size: 1em;
          padding: 0rem 2rem 1rem 2rem;
        }
        p.price {
          color: rgb(75, 53, 53);
          font-size: 1.2em;
          padding-left: 2rem;
          font-weight: bold;
        }
        label {
          padding-left: 2rem;
          h3 {
            padding-left: 1.8rem;
          }
        }
        select {
          margin-top: 0.9rem;
          margin-left: 1.5rem;
          padding: 0.5rem;
          font-size: 0.9rem;
          border-radius: 33px;
          cursor: pointer;
        }
        option {
          padding-top: 1rem;
          background-color: #f4e1e1;
          border-radius: 33px;
        }
        div#container_quantity {
          padding: 0.9rem 0rem 0.5rem 1.5rem;
          .btnMinus {
            border: none;
            background-color: #f1cbcb;
            color: #d0a1a1;
            outline: none;
            padding: 0.5rem 0.8rem 0.5rem 0.8rem;
            border-radius: 50px;
            &:hover {
              transform: scale(1.05);
              cursor: pointer;
            }
          }
          span {
            margin: 1rem;
          }
          .btnPlus {
            border: none;
            color: #946262;
            background-color: #f2cccc;
            outline: none;
            padding: 0.5rem 0.7rem 0.5rem 0.7rem;
            border-radius: 50px;
            &:hover {
              transform: scale(1.05);
              cursor: pointer;
            }
          }
        }
        button#addToCart {
          color: rgb(133, 95, 95);
          background-color: #f9f9f9;
          padding: 2.3rem 1.5rem 2.3rem 1.5rem;
          border: solid 3px #f2cccc;
          border-radius: 50px;
          margin: 1rem 0rem 0rem 2rem;
          transition: all ease-in-out 0.2s;
          cursor: pointer;
        }
        span.message {
          color: black;
          background-color: #F9F9F9;
          margin-left: 2rem;
          
        }
      }
    }
  }
  @include styleFooter;
}
@include responsiveProduit;
