@mixin responsivePanier {
  @media screen and (max-width: 960px) {
    body {
      main {
        section.options {
          p {
            padding-left: 2rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 810px) {
    body {
      main {
        section.options {
          :nth-child(1) {
            display: none;
          }
          :nth-child(2) {
            display: none;
          }
          :nth-child(3) {
            display: none;
          }
          :nth-child(4) {
            display: none;
          }
          :nth-child(5) {
            margin-left: 0rem;
          }
        }
     
      }
    }
    @media screen and (max-width: 640px) {
      body {
        main {
          section.options {
            :nth-child(5) {
              margin-left: 0rem;
            }
          }
          section.selectedProduct {
            align-items: center;
            ul {
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              grid-template-rows: repeat(8, 1fr);
              grid-column-gap: 0px;
              grid-row-gap: 0px;
              width: 93%;

              :nth-child(1) {
                grid-area: 1 / 1 / 7 / 6;
                img {
                  width: 100%;
                  height: auto;
                }
              }
              :nth-child(2) {
                grid-area: 7 / 1 / 9 / 2;
              }
              :nth-child(3) {
                grid-area: 7 / 2 / 9 / 3;
              }
              :nth-child(4) {
                grid-area: 7 / 3 / 9 / 4;
              }
              :nth-child(5) {
                grid-area: 7 / 4 / 9 / 5;
                p {
                  padding: 0.5rem;
                }
              }
            }
          }
          section.total {
            p {
              text-align: center;
              font-size: 1rem;
            }
          }
    
          
        }
      }
    }
    @media screen and (max-width: 440px) {
      body {
        main {
          section.selectedProduct {
            align-items: center;
            ul {
              :nth-child(1) {
                grid-area: 1 / 1 / 7 / 6;
                img {
                  width: 100%;
                  height: auto;
                }
              }
              :nth-child(2) {
                grid-area: 7 / 1 / 9 / 2;
              }
              :nth-child(3) {
                grid-area: 7 / 2 / 9 / 3;
              }
              :nth-child(4) {
                grid-area: 7 / 3 / 9 / 4;
              }
              :nth-child(5) {
                grid-area: 7 / 4 / 9 / 5;
              }
            }
          }
          section.total {
            p {
              text-align: center;
              font-size: 1.3rem;
            }
          }
          .form-control {
     
          padding: 1rem 0rem 1rem 0rem;
           
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 330px) and (min-width: 0px) {
  nav {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    .clearAll {
      padding-right: 0rem !important;
    }
  }
  section.selectedProduct {
    align-items: center;
    ul {
      :nth-child(1) {
        grid-area: 1 / 1 / 7 / 6;
        img {
          width: 80%;
          height: auto;
          font-size: 1rem;
        }
      }
      :nth-child(2) {
        grid-area: 7 / 1 / 9 / 2;
        font-size: 1rem;
      }
      :nth-child(3) {
        grid-area: 7 / 2 / 9 / 3;
        font-size: 1rem;
      }
      :nth-child(4) {
        grid-area: 7 / 3 / 9 / 4;
        font-size: 1rem;
      }
      :nth-child(5) {
        grid-area: 7 / 4 / 9 / 5;
        font-size: 1rem;
      }
    }
  }
}
